.glass {
    background: rgba(142, 162, 186, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.3px);
    -webkit-backdrop-filter: blur(14.3px);
    border: 1px solid rgba(142, 162, 186, .1);
}