/* color pallet https://colorpalettes.earth/p/7b7598149d */

.content {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}

li {
    list-style: none;
}

span {
    color: aliceblue;
}

.glass {
    background: rgba(142, 162, 186, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.3px);
    -webkit-backdrop-filter: blur(14.3px);
    border: 1px solid rgba(142, 162, 186, .1);
}

.glass-dark {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.3px);
    -webkit-backdrop-filter: blur(14.3px);
    border: 1px solid rgba(142, 162, 186, .1);
}

.total-container-fluid {
    height: 100vh;
    width: 100%;
}

.container {
    margin-top: 30px;
    margin-bottom: 15px;

}

.bop {
    animation: MoveUpDown 1.5s linear infinite;
    position: absolute;
    bottom: 0;
}

@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 10px;
    }

    50% {
        bottom: 20px;
    }
}

.bg-section {
    background-color: #7b8faa;
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.3px);
    -webkit-backdrop-filter: blur(14.3px);
    border: 1px solid rgba(142, 162, 186, .1);
    color: #203141;
}

.text-blue {
    color: #203141;
}

.img-frame {
    background: gold;
    border: gold;
}

.cien {
    background-color: #263e4e;
}

.rewind {
    background-color: #fef6e4;
}

.fizzbuzz {
    background-color: #e3f6f5;
}

.card img {
    height: 60%;
    border-radius: 1rem;
}

.card .card-body {
    position: absolute;
    bottom: 0;
    height: 40%;
}

.card {
    background-color: ;
}

.gradient {
	background: linear-gradient(-45deg, #b0b0b0, #b0b0b0, #c2c9cc, #7da4bc, #3f5f70, #8d9297, #8d9297);
	background-size: 400% 400%;
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	animation: gradient 45s ease infinite;
	height: 100vh;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
